.navItem{
    text-decoration: none;
    color: grey;
    margin: 15px;
    font-weight: bold;
}


.shadow:hover{
    filter: drop-shadow(6px 1px 4px black);
    transition: filter 0.1s;
}

.shadow{
    transition:  filter 0.4s;
}