.navItem{
    text-decoration: none;
    color: grey;
    margin: 15px;
    font-weight: bold;
}


.shad:hover{
    filter: drop-shadow(1px 2px 2px black);
    transition: filter 0.1s;
}

.shad{
    transition:  filter 0.4s;
}